# This file contains common pin mappings for the BIGTREETECH EBBCan
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.
[include stealthburner_leds.cfg]
[mcu EBBCan]
#serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
canbus_uuid: 23ace914f38b #a5c71bf1636f

[temperature_sensor EBB36]
sensor_type: temperature_host
#sensor_pin: EBBCan: PA2

#[adxl345]
#cs_pin: EBBCan: PB12
#spi_software_sclk_pin: EBBCan: PB10
#spi_software_mosi_pin: EBBCan: PB11
#spi_software_miso_pin: EBBCan: PB2
#axes_map: z,-y,x

#[resonance_tester]
#probe_points: 150, 150, 20
#accel_chip: adxl345

[extruder]
step_pin: !EBBCan: PD0
dir_pin: EBBCan: PD1
enable_pin: !EBBCan: PD2
microsteps: 16
rotation_distance: 4.55 #4.637 #13 #22.6789511 #33.500
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 500
max_extrude_only_velocity: 120
max_extrude_cross_section: 50.0
#pressure_advance: 0.0 #needs calib
#pressure_advance_smooth_time: 0.03 #needs calib
heater_pin: EBBCan: PB13 #PE3
sensor_type: PT1000
sensor_pin: EBBCan: PA3
#pullup_resistor: 4700
min_temp: 0
max_temp: 310

[tmc2209 extruder]
interpolate: true
uart_pin: EBBCan: PA15
run_current: 0.85
sense_resistor: 0.11
stealthchop_threshold: 0
driver_TBL: 0
driver_HEND: 6
driver_HSTRT: 7
driver_TOFF: 4

[fan]
pin: EBBCan: PA1
max_power: 1.0
#kick_start_time: 0.5
#off_below: 0.1

[heater_fan hotend_fan]
pin: EBBCan: PA0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

#[neopixel hotend_rgb]
#pin: EBBCan:PD3

#[neopixel hotend_rgb]
#pin: EBBCan:PB3